$gray: #111;
$green: #008372;
$text: #052018;
$white: #FEFEFE;
$pink: #FE5172;

$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 24px;
$h5: 12px;

$li: 18px;
$p: 24px;
$color: 36px;

$raleway: 'Raleway', sans-serif;
$cabin: 'Cabin', sans-serif;

