@import "~normalize.css";
@import "_variables";
@import "checkbox.scss";
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@400;700;800&display=swap');


body {
  background: $white;
  color: $text;
  min-height: 100vh;
  font-family: $raleway;
}

.about{
  margin: 0 0 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__description{
    max-width: 520px;
  }
  &__heading{
    margin: 0px 0 64px 0;
    @media (max-width: $mobile){
      font-size: $h3;
      margin: 0 0 32px 0;
    }
  }
  &__illustration{
    @media (max-width: $medium){
      display: none;
    }
    &--small{
      margin: 48px 0 0 0;
      @media (min-width: $medium){
        display: none;
      }
    }
  }
  @media (max-width: $mobile){
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.btn-reset{
  margin: 0;
  padding: 0;
  border-style: none;
  background: none;
}

.btn-wrapper{
  margin: 104px 0;
  z-index: 1000;
  @media (max-width: $mobile){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 64px 0;
  }
  @media (min-width: $mobile) and (max-width: $medium) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0 64px 0;
  }
} 
.button{
  height: 32px;
  width: 32px;
  &__next{
    margin-left: 8px;
  }
}

.cta{
  border-style: none;
  border-radius: 48px;
  box-shadow: $shadow;
  font-size: $h4;
  font-weight: $bold;
  padding: 24px 64px;
  color: $white;
  background-color: $green;
  text-decoration: none;
  @media (max-width: $mobile){
    font-size: $li;
    padding: 16px 70.5px;
    margin: 0 0 24px 0;
  }
  
  &__secondary{
    box-shadow: none;
    color: $green;
    background-color: $white;
    border: solid 1px $green;
    font-size: $li;
    font-weight: $bold;
    padding: 27.5px 55px;
    margin-left: 36px;
    @media (max-width: $mobile){
      font-size: $li;
      padding: 16px 48px;
      margin: 0;
    }
    @media (min-width: $mobile) and (max-width: $medium){
      margin: 32px 0 0 0;
    }
  }
  &__form{
    padding: 12px 32px;
    font-size: $li;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__heading{
    font-size: $h2;
    margin: 0 0 32px 0;
    @media (max-width: $mobile){
      font-size: $h4;
      text-align: center;
    }
  }
  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 0 0 0;
    width: -webkit-fill-available;
    @media (max-width: $medium){
      justify-content: center;
      margin: 0;
    }
    @media (min-width: $medium) and (max-width: $large){
      flex-direction: column;
      align-items: center;
    }
    
  }
  &__description{
    max-width: 1000px;
  }
  &__form-wrapper{
    padding: 48px 42px;
    border: 1px dashed #008372;
    border-radius: 35px;
    @media (max-width: $mobile){
      padding: 48px 0px;
      border: none;
    }
    @media (min-width: $medium) and (max-width: $large){
      margin-top: 64px;
    }
  }
  &__illustration{
    @media (max-width: $medium){
      display: none;
    }
    &--small{
      position: relative;
      top: 80px;
      z-index: -9999;
      @media (min-width: $medium){
        display: none;
      }
    }
  }
  &__paragraph{
    @media (max-width: $mobile){
      text-align: center;
    }
  }
}

.footer{

  &__content{
    background-color: $green;
  }
  &__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px 8%;
    @media (max-width: $mobile){
      flex-direction: column;
      display: grid;
    }
  }
  &__link{
    text-decoration: none;
    color: $white;
  }
  &__list{
    margin: 0 64px 0 0;
    padding: 0;
    list-style: none;
    &--contact{
      display: flex;
      align-items: center;
    }
    &--contact-icon{
      margin-right: 12px;
    }
    &--item{
      color: $white;
      font-size: $li;
      margin-bottom: 16px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      @media (max-width: $mobile){
        font-size: $h5;
        // margin-bottom: 16px;
        // font-weight: $bold;
      }
    }
    &--title{
      font-size: $h3;
      font-weight: $bold;
      margin-bottom: 24px;
      @media (max-width: $mobile){
        font-size: $h4;
        // margin-bottom: 20px;
      }
    }
    @media (max-width: $mobile){
      margin: 0 0px 24px 0;
    }
  }
  &__margin{
    align-items: center;
    padding: 64px 4% 32px 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $medium){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "terms . socials"
        ". brand .";
      padding: 0px 4% 32px 4%;
    }
  }
  &__paragraph{
    color: $white;
    font-size: $li;
    font-weight: $bold;
  }
  &__brand{
    @media (max-width: $medium){
      grid-column: 1 / 4;
      justify-self: center;
    }
  }
  &__socials{
    display: flex;
    align-items: flex-end;
    &--link{
      margin-left: 64px;
      @media (max-width: $medium){
        margin-left: 32px;
      }
    }
    @media (max-width: $medium){
      grid-area: socials;
    }
  }
  &__terms{
    color: $white;
    display: flex;
    &--link{
      margin-right: 32px;
      font-weight: $bold;
      @media (max-width: $mobile){
        margin-right: 16px;
      }
    }
    @media (max-width: $medium){
      grid-column: 1 / 3;
      justify-self: start;
    }
  }
  &__waves{
    width: -webkit-fill-available;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/footer-wave.svg);
  }
}

.form{
  &__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobile){
      align-items: center;
      flex-direction: column;
    }
  }
  &__input{
    margin: 0 0 16px 0;
    @media (max-width: $mobile){
      margin: 0 0 24px 0;
    }
    &--field{
      padding: 16px 0 16px 32px;
      border-radius: 48px;
      border-style: none;
      box-shadow: $shadow;
      min-width: 320px;
      font-size: $li;
      font-weight: $bold;
      color: $green;
      &::placeholder{
        color: $green;
      }
    @media (max-width: $mobile){
      min-width: 260px;
      }
    }
    &--textarea{
      border-radius: 24px;
      margin-bottom: 52px;
      @media (max-width: $mobile){
        margin-bottom: 42px;
        }
    }
  }
  &__terms{
    font-size: $h5;
    font-weight: $bold;
    color: $text;
  }
  &__terms-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: $mobile){
      margin-bottom: 32px;
    }
  }
}

.header{
  margin: 24px 8% 240px 8%;
  @media (max-width: $mobile){
    margin: 24px 8% 64px 8%;
  }
  @media (min-width: $mobile) and (max-width: $medium){
    margin: 24px 8% 120px 8%;
  }
}

.heading{
  font-size: $h1;
  @media (max-width: $mobile){
    font-size: $h3;
  }
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 150px 0;
  &__heading{
    text-align: center;
    max-width: 1200px;
    z-index: 1000;
    margin: 0;
    @media (max-width: $mobile){
      font-size: $h3;
      max-width: 330px;
      margin: 0 0 120px 0;
    }
  }

  &__illustraion-wrapper{
    position: absolute;
    right: 0;
    @media (max-width: $mobile){
      width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
  }
  &__illustration{
    position: relative;
    // bottom: 50px;
    @media (max-width: $medium){
      display: none;
      position: absolute;
    }
    &--small{
      position: relative;
      opacity: 0.24;
      bottom: -180px;
      @media (min-width: $medium){
        display: none;
        position: absolute;
      }
    }
  }
  @media (max-width: $mobile){
    margin: 0 0 64px 0;
  }
}
.logo{
  display: flex;
  justify-content: center;
  &__footer{
    margin-bottom: 80px;
  }
}
.main{
  margin: 24px 8% 256px 8%;
  @media (max-width: $mobile){
    margin: 24px 8% 64px 8%;
  }
}

.navigation{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

 &__list{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   @media (max-width: $medium){
    display: none;
  }
 }
 &__item{
  color: $white;
  list-style: none;
  margin-left: 48px;
  font-size: $li;
  font-weight: $bold;
  &--link{
    color: $white;
    text-decoration: none;
  }
 }


  &__wave-illustration{
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    // width: 80%;
    @media (max-width: $medium){
      display: none;
    }
    
  }
  @media (max-width: $mobile){
    justify-content: center;
  }
}

.paragraph{
  font-size: $p;
  font-family: $cabin;
  margin: 0;
  &__bold{
    font-weight: $bold;
    color: $green;
  }
}

.products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 150px 0;
  &__heading{
    margin: 0 0 120px 0;
    text-align: center;
    max-width: 1000px;
    @media (max-width: $mobile){
      font-size: $h3;
      margin: 0 0 64px 0;
    }
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    min-width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    &--item{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    &--description{
      text-align: center;
      font-size: $h4;
      font-weight: $bold;
      margin: 0;
      max-width: 250px;
      position: relative;
      top: -30px;
    }
    &--fix{
      top: -80px;
    }
    @media (max-width: $mobile){
      flex-direction: column;
    }
    @media (max-width: $mobile){
      :nth-child(3){
        margin-top: 50px;
      }
      margin-bottom: 48px;
    }
  }
}

.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 150px 0;
  &__article{

    &--heading{
      font-size: $h4;
      color: $green;
      margin: 0 0 16px 0;
    }
  }
  &__author{
    font-size: $h4;
    color: $text;
    margin: 16px 0 64px 0;
    padding: 0 0 0 32px;
    &::before{
      position: relative;
      content: "";
      width: 16px;
      height: 2px;
      display: block;
      background-color: $green;
      top: 14px;
      right: 32px;
    }
    @media (max-width: $mobile){
      margin: 16px 0 32px 0;
      font-size: $li;
    }
  }
  &__content{
    box-shadow: $shadow;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    @media (max-width: $medium){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
    }

  }
  &__description{
    max-width: 720px;
    margin: 0 0 64px 0;
    @media (max-width: $mobile){
      margin: 0 0 48px 0;
      text-align: center;
    }
  }
  &__heading{
    margin: 0 0 32px 0;
  }
  &__image{
    background-image: url(../assets/img/testimonials-author.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    &--buttons{
      display: flex;
    }
  }
  &__pages{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    &--dot{
      width: 8px;
      height: 8px;
      background-color: $white;
      border: 1px solid #008372;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 0 12px 0 0;
      &:nth-child(1){
        background-color: $green;
      }
    }
    
  }
  &__paragraph{
    @media (max-width: $mobile){
      font-size: $li;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 48px 24px 48px;
  }
  &__quote{
    position: absolute;
    &--svg{
      position: relative;
      bottom: 60px;
      left: -20px;
    }
  }
}

